<div class ="row">
	<div class ="col-12 text-center">
  	  <h1 class="lead">Welcome</h1>

  	  <% if logged_in? %>

		<h1 class="lead">You are logged in, <%= current_user.username %></h1>

  	  <%end%>
	</div>
</div>
<div class="row">
	<div class="col-12 text-center">
		<%= button_to "Calculate BMI", measure_path, method: :get, class: 'btn btn-lg btn-danger'%>
	</div>
</div>
